<?xml version="1.0" encoding="UTF-8"?>
<!-- 
/**
 * Apptha
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.apptha.com/LICENSE.txt
 *
 * ==============================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * ==============================================================
 * This package designed for Magento COMMUNITY edition
 * Apptha does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * Apptha does not provide extension support in case of
 * incorrect edition usage.
 * ==============================================================
 *
 * @category    Apptha
 * @package     Apptha_AjaxCartPro
 * @version     1.1
 * @author      Apptha Team <developers@contus.in>
 * @copyright   Copyright (c) 2014 Apptha. (http://www.apptha.com)
 * @license     http://www.apptha.com/LICENSE.txt
 *
 * */
 -->
<config>
	<tabs>
        <Apptha module="ajaxcartpro" translate="label">
            <label>Apptha</label>
            <sort_order>100</sort_order>
        </Apptha>
    </tabs>
	<sections>
		<ajaxcartpro translate="label">
			<label>Apptha Ajax Cart Pro</label>
			<tab>Apptha</tab>
			<frontend_type>text</frontend_type>
			<sort_order>210</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<general translate="label">
					<label>General</label>
					<frontend_type>text</frontend_type>
					<sort_order>100</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<Enable_cart_update translate="label">
							<label>Enable Ajax Cart Pro </label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<active>true</active>
							<sort_order>0</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</Enable_cart_update>
						
						<Enable_shipping_update translate="label">
							<label>Enable Shipping </label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<active>true</active>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</Enable_shipping_update>
						
						<Enable_sell_update translate="label">
							<label>Enable Cross Sell </label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<active>true</active>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</Enable_sell_update>
						
					</fields>
				</general>

			</groups>
		</ajaxcartpro>
	</sections>
</config>